.app {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.video-container {
  position: relative;
}

.video-subtitle {
  position: absolute;
  bottom: 35px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
}
